<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @pin.image.url (:medium) %><br/>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>
<% if @pin.user == current_user %>
  <%= link_to edit_pin_path(@pin) do %>
    <button type="button" class="btn btn-default"> 'Edit' </button> |
  <% end %>
<% end %>
<%= link_to pins_path do %>
  <button type="button" class="btn btn-default"> 'Back' </button>
<% end %>